# directories

__pycache__/
asm/
bin/
build/
expected/
ido/ido5.3_compiler
ido/ido7.1_compiler
junk/
nonmatchings
py/
rzip/
src_debug/
src_eu/
textures/

# files

*.bin
*.gz
*.o
*.pad
*.z64
.splat_cache
chunk0.ld
conker.ld
undefined_funcs_auto.txt
undefined_syms_auto.txt
