# directories

__pycache__/
asm/
bin/
build/
expected/
extracted/
html/
ido/ido5.3_compiler
ido/ido7.1_compiler
junk/
nonmatchings
py/
rzip/
src_debug/
src_eu/
textures/

# files

.splat_cache
*.bin
*.csv
*.gz
*.o
*.ok
*.pad
*.z64
*.ld
*_auto.txt

# optional tools

tools/decomp-permuter/
